@import "wlc.less";

* {
  border: 0;
  margin: 0;
  padding: 0;
}

.wlc-demo {
  background-color: deepskyblue;
  margin: 4px;
}

#wlc-demo {
  .wlc-demo-box-small {
    background-color: bisque;
    border: 1px solid black;
    height: 200px;
    width: 200px;
  }

  &-align-vertical {
    .wlc-demo-box-small();
    p {
      .wlc-align-vertical();
    }
  }
  &-image-2x {
    .wlc-demo-box-small();
    background-image: url("../images/200_200_pixels.png");
    @media @wlc-image-2x {
      background-image: url("../images/400_400_pixels.png");
      background-size: 200px 200px;
    }
  }
  &-text-truncate {
    .wlc-demo-box-small();
    p {
      .wlc-text-truncate();
    }
  }
}